<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweethome.mapper.ReservationMapper">
   <select id="getTimeList" resultType="_int">
      select count(*) from reservation where resvdate =#{date}
   </select>
   <insert id="reservation">
      insert into reservation(username,reservdate,reservtime,reservcontents) values(#{name},#{date},#{time},#{content})
   </insert>
</mapper>